.unilabel-content canvas[id^="unilabeltype-imageboard-canvas"] {
    margin: 10px;
    box-shadow: 5px 5px 10px 0 #aaa;
}
.unilabel-imageboard-list .row {
    margin-bottom: 10px;
}

.unilabel-imageboard-list-nr {
    width: 30px;
}
.unilabeltype-imageboard-controllbuttons {
    margin-bottom: 38px;
    z-index: 1;
    position: relative;
}

.unilabeltype-imageboard a:hover .unilabel-imageboard-image,
.unilabeltype-imageboard a:hover .unilabel-imageboard-title {
    box-shadow: 0 0 13px 0;
}

.unilabel-imageboard-image.hidden {
    visibility: hidden;
}

.unilabeltype-imageboard-container {
    padding: 10px;
    overflow: hidden; /* Hide scrollbars */
}

.unilabeltype-imageboard-container a:focus div {
    box-shadow: 0 0 0 .2rem rgba(15, 108, 191, .75);
}

#unilabel-imageboard-preview .unilabel-imageboard-title,
#unilabel-imageboard-preview .unilabel-imageboard-image {
    cursor: move;
}

.unilabel-imageboard-title {
    position: absolute;
    z-index: 5;
    white-space: nowrap;
}
.unilabel-imageboard-image {
    z-index: 10;
}

.unilable-imageboard-titlelineheight-0 {
    top: 0;
    line-height: 0;
}
.unilable-imageboard-titlelineheight-1 {
    top: -1em;
    line-height: 1em;
    padding-left: 5px;
    padding-right: 5px;
}
.unilable-imageboard-titlelineheight-2 {
    top: -2em;
    line-height: 2em;
    padding-left: 5px;
    padding-right: 5px;
}
.unilable-imageboard-titlelineheight-3 {
    top: -3em;
    line-height: 3em;
    padding-left: 5px;
    padding-right: 5px;
}
.unilable-imageboard-titlelineheight-4 {
    top: -4em;
    line-height: 4em;
    padding-left: 5px;
    padding-right: 5px;
}
.unilable-imageboard-titlelineheight-5 {
    top: -5em;
    line-height: 5em;
    padding-left: 5px;
    padding-right: 5px;
}

/* Container für das Bild */
#unilabel-imageboard-preview .image-container {
    position: relative;
    display: inline-block;
    cursor: grab;
}

/* Bild-Stil */
#unilabel-imageboard-preview .image-container img {
    display: block;
}

/* Der Punkt: Diagonal geteiltes Quadrat */
#unilabel-imageboard-preview .dot {
    position: absolute;
    top: 0; /* Abstand vom oberen Rand */
    left: 0; /* Abstand vom linken Rand */
    width: 20px; /* Breite des Quadrats */
    height: 20px; /* Höhe des Quadrats */
    pointer-events: none; /* Interaktionslos */
    opacity: 0; /* Unsichtbar im Normalzustand */
    transition: opacity 0.3s ease; /* Weicher Übergang beim Hover */
}

/* Oberes Dreieck */
#unilabel-imageboard-preview .dot::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 20px 20px 0; /* Diagonales Dreieck */
    border-color: transparent #333 #eee transparent; /* Obere Dreieckfarbe (schwarz) */
    top: 0;
    left: 0;
}

/* Hover-Effekt */
#unilabel-imageboard-preview .image-container:hover .dot {
    opacity: 1; /* Quadrat wird sichtbar */
}

.unilabeltype-imageboard-x-achse {
    top: -17px;
}

.unilabeltype-imageboard-y-achse {
    left: -25px;
}

#unilabel-imageboard-preview,
.unilabeltype-imageboard-container {
    padding-top: 15px;
}
.unilabeltype-imageboard-container {
    padding-left: 25px;
}

.unilabeltype-imageboard-helpergrid-rectangle {
    z-index: 0;
}

#id-unilabeltype-imageboard-imagesettings-dialog {
    width: 100%;
    max-width: 400px;
    z-index: 10;
    margin-bottom: 20px;
}
#id-unilabeltype-imageboard-imagesettings-dialog-close {
    color: #000;
    background-color: #eee;
    position: absolute;
    z-index: 10;
    right: 0;
    opacity: 1;
}
#id-unilabeltype-imageboard-imagesettings-dialog-close:hover {
    color: #000;
    background-color: #aaa;
}
#id-unilabeltype-imageboard-imagesettings-dialog-xposition,
#id-unilabeltype-imageboard-imagesettings-dialog-yposition {
    width: 70px;
}
#id-unilabeltype-imageboard-imagesettings-dialog-border,
#id-unilabeltype-imageboard-imagesettings-dialog-borderradius {
    width: 50px;
}
.unilabeltype-imageboard-imagesettings-dialog-position .row,
.unilabeltype-imageboard-imagesettings-dialog-targetsize .row {
    margin-left: 0;
}

.unilabeltype-imageboard-imagesettings-dialog-position,
.unilabeltype-imageboard-imagesettings-dialog-targetsize {
    border: solid 1px;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

#id-unilabeltype-imageboard-imagesettings-dialog-url {
    width: 90%;
}


@keyframes rahmen-farbwechsel {
    0% {
        box-shadow: 0 0 10px 4px #fff;
    }
    50% {
        box-shadow: 0 0 2px 4px #777;
    }
    100% {
        box-shadow: 0 0 10px 4px #333;
    }
}

[id^="unilabel-imageboard-imageid-"].selected,
[id^="id_elementtitle-"].selected {
    box-shadow: 0 0 10px 0 #fff;
    animation: rahmen-farbwechsel 2s infinite alternate;
}