{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template unilabeltype_imageboard/image
    Template to show an image on the imagebord.

    Example context (json):
    {
        "title": "Test",
        "url": "https://example.com",
        "urltitle": "Forum: someting",
        "newwindow": 1,
        "xposition": "400",
        "yposition": "200",
        "targetwidth": "0",
        "targetheight": "0",
        "titlelineheight": 2,
        "fontsize": "12",
        "titlecolor": "#00ff00",
        "titlebackgroundcolor": "#0000ff",
        "imageurl": "http://localhost/image.png",
        "alt": "Alt-text for the image",
        "nr": 1,
        "bordercolor": "#2D57FA",
        "border": "4",
        "borderradius": "20"
    }
}}

<div id="imageid_{{cmid}}_{{nr}}" style="position: absolute;{{!
                }}z-index: 5;{{!
                }}left: {{xposition}}px;{{!
                }}top: {{yposition}}px;{{!
                }}{{#targetwidth}}width: {{.}}px;{{/targetwidth}}{{!
                }}{{#targetheight}}height: {{.}}px;{{/targetheight}}{{!
                }}">
    {{#url}}<a href="{{{.}}}"{{!
                }} title="{{#urltitle}}{{#str}}link_to, mod_unilabel, {{.}}{{/str}}{{/urltitle}}{{^urltitle}}{{#str}}link_to, mod_unilabel, {{url}}{{/str}}{{/urltitle}}"{{!
                }} aria-label="{{#urltitle}}{{#str}}link_to, mod_unilabel, {{.}}{{/str}}{{/urltitle}}{{^urltitle}}{{#str}}link_to, mod_unilabel, {{url}}{{/str}}{{/urltitle}}"{{!
                }}{{#newwindow}} target="_blank"{{/newwindow}}>{{/url}}
        {{#title}}
            <div id="id_elementtitle_{{cmid}}_{{nr}}" class="unilabel-imageboard-title unilable-imageboard-titlelineheight-{{#titlelineheight}}{{.}}{{/titlelineheight}}" style="top: calc(-{{#titlelineheight}}{{.}}em{{/titlelineheight}});{{!
                }}color: {{titlecolor}}; background-color: {{titlebackgroundcolor}};{{!
                }}{{#fontsize}}font-size: {{.}}px;{{/fontsize}}{{!
                }}{{#borderradius}}border-radius: {{.}}px;{{/borderradius}}{{!
                }}{{^borderradius}}border-radius: 0;{{/borderradius}}{{!
                }}white-space: nowrap;">
                {{{title}}}
            </div>
        {{/title}}
        {{#imageurl}}
            <div id="unilabel-imageboard-image-{{cmid}}-{{nr}}" class="unilabel-imageboard-image" style="position: relative;{{!
                }}z-index: 5;{{!
                }}{{#targetwidth}}width: {{.}}px; {{/targetwidth}}{{!
                }}{{#targetheight}}height: {{.}}px; {{/targetheight}}{{!
                }}{{#borderradius}}border-radius: {{.}}px;{{/borderradius}}{{!
                }}{{^borderradius}}border-radius: 0;{{/borderradius}}{{!
                }}">
                <div class="image-container" style="{{#targetwidth}}width: {{.}}px; {{/targetwidth}}{{#targetheight}}height: {{.}}px; {{/targetheight}}{{!
                        }}{{#borderradius}}border-radius: {{.}}px;{{/borderradius}}{{!
                        }}{{^borderradius}}border-radius: 0;{{/borderradius}}{{!
                    }}">
                    <img class="unilabel-imageboard-image" src="{{{.}}}" title="{{titleplain}}" alt="{{alt}}" style="{{#targetwidth}}width: 100%; {{/targetwidth}}{{!
                        }}{{#targetheight}}height: 100%; {{/targetheight}}{{!
                        }}{{#border}}border: solid {{.}}px {{titlebackgroundcolor}};{{/border}}{{!
                        }}{{#borderradius}}border-radius: {{.}}px;{{/borderradius}}{{!
                        }}{{^borderradius}}border-radius: 0;{{/borderradius}}{{!
                        }}">
                    <span class="dot"></span>
                </div>
            </div>
        {{/imageurl}}
    {{#url}}</a>{{/url}}
</div>

