{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template unilabeltype_imageboard/imageboard_preview
    Template to show an imageboard with images.

    Example context (json):
    {
        "showintro": false,
        "intro": "",
        "images": [
            {
                "title": "",
                "url": "http://localhost/mod/forum/view.php?id=136",
                "newwindow": 1,
                "xposition": "150",
                "yposition": "100",
                "targetwidth": "80",
                "targetheight": "0",
                "fontsize": "12",
                "imageurl": "http://localhost/image1.png",
                "nr": 0
            },
            {
                "title": "",
                "url": "",
                "newwindow": 1,
                "xposition": "400",
                "yposition": "200",
                "targetwidth": "0",
                "targetheight": "0",
                "fontsize": "12",
                "imageurl": "http://localhost/image2.png",
                "nr": 1
            }
        ],
        "hasimages": true,
        "titlecolor": "#00ff00",
        "titlebackgroundcolor": "#0000ff",
        "cmid": "140",
        "canvaswidth": "500",
        "autoscale": false,
        "canvasheight": "600",
        "autocanvasheight": false,
        "backgroundimage": "",
        "capababilityforgrid": true,
        "bordercolor": "#2D57FA",
        "border": "4",
        "borderradius": "20",
        "gridcolor": "#B7009E"
    }
}}

<div id="unilabel-imageboard-preview">
    <div id="unilabel-imageboard-background-canvas" style="position: relative;">
        <div id="imageboardcontainer">
            <div></div>
        </div>
    </div>

</div>

<div class="unilabeltype-imageboard-controllbuttons d-flex flex-column mt-2">
    <div class="unilabel-imageboard-gridtoggler">
        <a class="unilabeltype-imageboard-controllbutton" href="#" id="unilabeltype-imageboard-gridtoggler-{{cmid}}">
            <i class="fa fa-th fa-fw"></i> <span class="unilabeltype-imageboard-toggle-text">{{#str}} buttonlabelhelpergridhide, unilabeltype_imageboard {{/str}}</span>
        </a>
    </div>



    <div>
        <label for="unilabeltype-imageboard-snap">
            {{#str}} snap, unilabeltype_imageboard {{/str}}
            <input id="unilabeltype-imageboard-snap" type="number"
                   min="1" max="100" step="1" value="1"
                   inputmode="decimal">
        </label>
    </div>
    <!-- The Modal -->
    <div class="modal" id="unilabeltype_imageboard_modal">
        <div class="modal-dialog modal-xl modal-dialog-centered">
            <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Modal Heading</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{{#str}}closebuttontitle{{/str}}"></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body"></div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">{{#str}}closebuttontitle{{/str}}</button>
            </div>

            </div>
        </div>
    </div>

</div>

{{#js}}
    require(['unilabeltype_imageboard/imageboardpreviewrenderer'], function(imageboardpreviewrenderer) {
        imageboardpreviewrenderer.init(
            '{{canvaswidth}}',
            '{{canvasheight}}',
            '{{gridcolor}}',
            '{{xsteps}}',
            '{{ysteps}}'
        );
    });

    require(['theme_boost/bootstrap/modal', 'mod_unilabel/modal_helper'], function(Modal, modalHelper) {
        var hidenumber = 0;
        var singelelementheader;
        while (true) {
            singelelementheader = document.querySelector('#id_singleelementheader_' + hidenumber)
            if (!singelelementheader) {
                break;
            }
            singelelementheader.classList.add('d-none');
            hidenumber++;
        }

        var actualnumber = -1;
        var currentparent = null;
        modalHelper.init('#unilabeltype_imageboard_modal');
        document.querySelector('#imageboardcontainer').addEventListener('click', function(e) {
            if (e.target.dataset.type === 'imageaction') {
                actualnumber = parseInt(e.target.dataset.number);
                var myModal = new Modal(document.querySelector("#unilabeltype_imageboard_modal"));
                myModal.show();
            }
            if (e.target.dataset.type === 'deleteimage') {
                event.stopPropagation();
                event.preventDefault();
                deletenumber = parseInt(e.target.dataset.number);
                var myModal = new Modal(document.querySelector('#unilabel_imageboard_confirm_inline_' + deletenumber));
                myModal.show();
            }

        });
        // $('#unilabeltype_imageboard_modal').on('show.bs.modal', function() {
        document.querySelector('#unilabeltype_imageboard_modal').addEventListener('show.bs.modal', function() {
            var src = document.querySelector('#id_singleelementheader_' + actualnumber + ' .element-edit-container');
            currentparent = src.parentElement;
            var dst = document.querySelector('#unilabeltype_imageboard_modal .modal-body');
            dst.append(src);
            //src.classList.remove('d-none');
        });
        // $('#unilabeltype_imageboard_modal').on('hidden.bs.modal', function() {
        document.querySelector('#unilabeltype_imageboard_modal').addEventListener('hidden.bs.modal', function() {
            var src = document.querySelector('#unilabeltype_imageboard_modal .modal-body .element-edit-container');
            //src.classList.add('d-none');
            var dst = currentparent;
            dst.append(src);
        });

        var mform = document.querySelector('[id^="mform"]');
        mform.addEventListener('itemadded', function(e) {
            actualnumber = e.detail;
            var myModal = new Modal(document.querySelector("#unilabeltype_imageboard_modal"));
            myModal.show();
        });
    });

{{/js}}
