{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template unilabeltype_imageboard/previewimage
    Template to show an image on the previewimage.

    Example context (json):
    {
        "number": 2,
        "displaynumber": 3,
        "src": "https://example.com/empty.gif"
    }
}}


<div id='unilabel-imageboard-element-{{number}}' draggable='true' class='unilabel-imageboard-element-draggable' style='z-index: 5; position: absolute;'>
    <div id='id_elementtitle-{{number}}' draggable='false' class='unilabel-imageboard-title' style='position: absolute;'>
        <i class="fa fa-refresh" aria-hidden="true"></i>
    </div>
    <div id='imageidimage-{{number}}' draggable='false'>
        <div class="image-container">
            <img id='unilabel-imageboard-imageid-{{number}}' draggable='false' class='unilabel-imageboard-image' alt='image' src='{{{src}}}' style='position: relative;'>
            <span class="action"><i class="fa fa-cog" data-type="imageaction" data-number="{{number}}"></i></span>
            <a href="#" class="mx-1 delete-button">
                <i class="fa fa-trash fa-fw text-danger" data-type="deleteimage" data-number="{{number}}"></i>
                <span class="sr-only">{{#str}} delete_element, mod_unilabel {{/str}}-{{number}}</span>
            </a>
        </div>
        <div id="unilabel-imageboard-coordinates-{{number}}" class="unilabel-imageboard-coordinates" tabindex="0">{{displaynumber}}: 0 / 0</div>
    </div>
</div>
<div id="unilabel_imageboard_confirm_inline_{{number}}" class="modal" tabindex="-1" style="z-index: 1040;" aria-hidden="true">
    <div class="modal-dialog" tabindex="0">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    {{#str}}confirm{{/str}}
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                {{#str}} delete_element_nr, mod_unilabel, {{number}} {{/str}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{{#str}} no {{/str}}</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" data-action="deleteelement" data-id="{{number}}">{{#str}} yes {{/str}}</button>
            </div>
        </div>
    </div>
</div>
